/** {
    box-sizing: border-box;
}*/


#login-form, #options-form {
    margin-bottom: 2em;
}

#options-form-checkbox-area {
    margin-bottom: 2em;
}

#options-form-submit {
    margin-bottom: 1em;
}

.container, .container-fluid {
    max-width: 1024px;
}

.navbar-fixed-width {
    margin-bottom: 1em;
}

.header {
    padding-left: 0;
    padding-right: 0;
}

.error {
    padding: .5em 1em;
    margin-bottom: 1em;
    background-color: lightcoral;
    color: darkred;
    font-weight: bold;
    border-radius: .25em;
    display: none;
}

.container-1 {
    max-width: 320px;
}

.page {
    display: none;
}

#img-logo {
    width: 100%;
}

@media (min-width: 768px) {
    .navbar-fixed-width {
        border-radius: 0;
    }
}

@media (min-width: 1024px) {
  .navbar-fixed-width {
    width: 1024px;
    margin-left: auto;
    margin-right:auto;
 }
}

@media (max-width: 480px) {


}

@media (max-width: 1024px) {

}