/** {
    box-sizing: border-box;
}*/


#login-form, #options-form {
    margin-bottom: 2em;
    position: relative;
}

#options-form-checkbox-area {
    margin-bottom: 2em;
}

#options-form-submit {
    margin-bottom: 1em;
}

.container, .container-fluid {
    max-width: 1024px;
}

#clickable-images {
    display: block;
    position: relative;
}

.navbar-fixed-width {
    margin-bottom: 1em;
}

.header {
    padding-left: 0;
    padding-right: 0;
}

.error {
    padding: .5em 1em;
    margin-bottom: 1em;
    background-color: lightcoral;
    color: darkred;
    font-weight: bold;
    border-radius: .25em;
    display: none;
}


.wait {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -1.5em;
    margin-top: -1.5em;

    border: 1em solid #f3f3f3; /* Light grey */
    border-top: 1em solid grey;
    border-radius: 50%;
    width: 3em;
    height: 3em;

    text-align: center;
    line-height: 1.5em;

    /*margin-bottom: 1em;*/
    animation: spin 1s linear infinite;
    -webkit-animation: spin2 1s infinite linear;

    -webkit-box-shadow: 0px 0px 1px 1px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 0px 1px 1px rgba(0,0,0,0.5);
    box-shadow: 0px 0px 1px 1px rgba(0,0,0,0.5);

    display: none;
}

#page2-info-area {
    margin-top: 1em;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

@-webkit-keyframes spin2 {
    from { -webkit-transform: rotate(0deg);}
    to { -webkit-transform: rotate(360deg);}
}

.container-1 {
    max-width: 320px;
    position: relative;
}

.page {
    display: none;
}

#img-logo {
    width: 100%;
}

.selectable-image {
    margin-bottom: 1.5em;
    border: 3px solid white;
}

.selected-image {
    border: 3px solid black;
}


@media (min-width: 768px) {
    .navbar-fixed-width {
        border-radius: 0;
    }
}

@media (min-width: 1024px) {
  .navbar-fixed-width {
    width: 1024px;
    margin-left: auto;
    margin-right:auto;
 }
}

@media (max-width: 480px) {


}

@media (max-width: 1024px) {

}